
<div class="ld-widget ld-library-gallery">
  <div class="header">
    <h1><%= library.attributes.name %></h1>
  </div>
  <div class="preview">
    <% if (library.picture(current_picture)) { %>
      <img src="<%= library.picture(current_picture).files.medium %>" alt="<%= library.picture(current_picture).name %>"/>
    <% } %>
  </div>
  <ul class="thumbs">
    <% _.chain(library.get('pictures')).each(function(pic, i) { %>
      <li class="span4">
        <a class="thumbnail" data-nr="<%= i %>">
          <img src="<%= pic.files.small %>" alt="<%= pic.name %>"/>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
